
* {
    padding: 0;
    margin 0 auto;
}
body {
    background-color: #add0c0;
    font-family: 'Biryani', sans-serif;
}

header {
    
    background-color: #c8e2e2;
    color: #045972;
    font-family: 'Righteous', cursive;
    font-kerning:normal;
    font-size: 50px;
    text-align: center;
    display: flex;
    height: 10vw;
}

h2 {
    color: #04725c;
    font-family: 'Saira Semi Condensed', sans-serif;
}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    display: inline;
    text-align: right;
    justify-content: right;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 
 li a:hover {
    background-color:#7e99a1;
    color: white;
    
 }

p {
    position: relative;
    width: 50%;
    color: #004799;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a.active {
    color: white;
}
 


   /*appears white when clicked on*/  
   #main-menu {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 30px;

   }
.w3-button {
    background: #4E9CAF;
    border-radius: 20px;
    margin: 10px;
    color: white;
    font-weight: bold;
    height: 30%;
    padding: 15px;
    width: 30%;
 }


/*contains layout for image of me*/


/*controls layout for caption*/





   

/*caption*/


/*head caption*/






  
/*Title*/


/*nav*/








/*gives the button appearance to nav*/







