* {
    padding: 100;
    margin: 100;
    width: 60;
    height: 60;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    padding: 20px;
    padding-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#wrapper {
    margin: 0 auto;
    width: 98%;
    max-width: 100px;
    height: 98vh;
}

#cat {
    position: absolute;
    transform: scale(-1);
    animation: cat 6s infinite linear;
}

.animal {
    position: absolute;
}

.loid {
    animation: loid 8s infinite linear;
}

.dog {
    animation: dog 7s infinite linear;
}

.meer {
    animation: meer 9s infinite linear;
}


@keyframes cat {
    0% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
    25% {transform: rotateZ(25deg) scale(-1); top: 400px; left: 200px;}
    50% {transform: rotateZ(90deg) scale(.5); top: 300px; left: 600px;}
    75% {transform: rotateZ(340deg) scale(.5); top: 100px; left: 1200px;}
    100% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
}


@keyframes dog {
    0% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
    25% {transform: rotateZ(90deg) scale(1.5); top: 400px; left: 200px;}
    50% {transform: rotateZ(180deg) scale(.5); top: 300px; left: 600px;}
    75% {transform: rotateZ(360deg) scale(.5); top: 100px; left: 1200px;}
    100% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
}

@keyframes loid {
    0% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
    10% {transform: rotateZ(45deg) scale(1.5); top: 400px; left: 200px;}
    50% {transform: rotateZ(100deg) scale(.5); top: 300px; left: 600px;}
    80% {transform: rotateZ(10deg) scale(.5); top: 100px; left: 1200px;}
    100% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
}

@keyframes meer {
    0% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
    40% {transform: rotateZ(180deg) scale(1.5); top: 400px; left: 200px;}
    60% {transform: rotateZ(250deg) scale(.5); top: 300px; left: 600px;}
    95% {transform: rotateZ(300deg) scale(.5); top: 100px; left: 1200px;}
    100% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
}